html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.nike_product {
    background: url("Layer 5.png") no-repeat;
    background-size: cover;
    height: 600px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center

}
.block_nike {
    width: 685px;
    height: 390px;
    background: #111a28;
    border-radius: 10px;
}
.nike_logo {
    margin:22px 0 0 22px;
}
.nike_content {
    float:left;

}
#nike {
    margin:70px 0 106px 35px
}
.nike_content_info {
    float: right;
    margin-left:78px;
    font-family: Roboto, sans-serif;
    color: #adafb3;
    top:50px;
    font-size: 24px;
    font-weight: 300;
}
.nike_content_info_text2 {
    color:#49505a;
    font-size:14px;
    margin-top:18px;
}
.star-rating{
    font-size: 0;
    margin-top:27px;
}
.star-rating__wrap {
    display: inline-block;
    font-size: 9px;
}
.star-rating__wrap:after {
    content: "";
    display: table;

}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input {
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}

.nike_content_info_list {
    background: #111a28;
    color: #797d84;
    width: 68px;
    height: 32px;
    display: inline-block;
    border: 1px solid #797d84;
    margin-top: 27px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("Rectangle 2.png");
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: 90% 50%;
}
.nike_content_info_lists select option {
    background-color: #111a28;
    font-size: 20px;
}






